@model WebsiteBanDienThoai.Models.DonHang

@{
    ViewBag.Title = "Xóa Đơn Hàng";
    Layout = "~/Views/LayOut/AdminLayout.cshtml";
}

<h2>Xác nhận Xóa</h2>

<h3>Bạn chắc chắn muốn Xóa Đơn Hàng này chứ ?</h3>
<div style="font-size:16px;word-wrap: break-word;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" style="background-color:red;" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("Trở lại Trang Quản lý Đơn Hàng", "Index")
    </div>
}

